* {
    font-family: "Nico Moji";
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
main {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page_bg::before, .page_bg::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
}
.page_bg::before {
    transform: translateY(-100%);
    background-color: #c45c66;
    top: 0;
}

.page_bg::after {
    transform: translateY(100%);
    background-color: #c3ce5f;
    bottom: 0;
}

.page_frame {
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border: dashed 5px #283c5f;
    border-radius: 40px;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
}
.page_frame {
    animation: bigban .8s cubic-bezier(0.99,0.04,0.01,0.99) .2s forwards;
}

.page_inner {
    top: 60px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 120px);
    position: absolute;
    overflow: auto;
}

.title {
    width: 450px;
    height: 65px;
    top: 10px;
    position: relative;
    margin: 0 auto;
}
.title h2 {
    position: absolute;
    display: inline;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 40px;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
}
.title::before, .title::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.title::before {
    transform: 0;
    background-color: #283c5f;
    opacity: 0;
    animation: slide-left-2 1s ease .8s forwards;
}
.title::after {
    border: solid 3px #283c5f;
    opacity: 0;
    animation: slide-right 1s ease .8s forwards;
}
.articleCard {
    opacity: 0;
}
.articleCard .card_title {
    width: 550px;
    padding: 5px 0;
    position: relative;
    margin: 0 auto;
    color: #283c5f;
    border-bottom: dashed 1px #283c5f;
}
.articleCard .card_title h2 {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
}
.articleCard .card_title p {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 15px;
    text-align: right;
}

.articleCard .card_text p {
    width: 550px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    line-height: 2.2;
    color: #283c5f;
}

.word {
    width: 550px;
    padding: 5px 0;
    position: relative;
    margin: 0 auto;
    color: #572e7e;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    opacity: 0;
}
.word a {
    text-decoration: none;
}

.page_modal {
    position: fixed;
    height: 250px;
    width: 400px;
    background:rgb(255, 133, 133);
    border-radius: 30px;
    top:calc(50% - 250px/2);
    left:calc(50% - 400px/2);
}
.page_modal .border {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: dashed 2px #283c5f;
    border-radius: 30px;
    box-sizing: border-box;
}

.page_modal form {
    position: absolute;
    height: 95%;
    width : 95%;
    margin :auto;
    /* top: calc(50% -); */
    /* text-align: center; */
}
.page_modal form .input_text {
    font-size: 20px;
    box-sizing: border-box;
    height: 12%;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
    border-bottom: 2px solid #1b2538;
    border-radius: 1em 1em 0 0;
	background: #ffffff;
}
.page_modal form .input_text {
    border-bottom: 2px solid #da3c41;
    outline: none;
}
.page_modal form .input_article {
    resize: none;
    width: 100%;
    height: 76%;
}
.page_modal form .submit {
    width: 100%;
    height: 12%;
}

/* animation */
.page_bg::before {
    animation: slide-top .6s cubic-bezier(0.99,0.04,0.01,0.99) 0s forwards;
}
.page_bg::after {
    animation: slide-bottom .6s cubic-bezier(0.99,0.04,0.01,0.99) 0s forwards;
}
.articleCard {
    animation: slide-left 1s ease .5s forwards;
}
.title h2 {
    animation: opacity_in 1s ease .8s forwards;
}
.title::before {
    animation: slide-left-2 1s ease .8s forwards;
}
.title::after {
    animation: slide-right 1s ease .8s forwards;
}
.word {
    animation: bigban 1s ease .8s forwards;
}


/* keyframes */
@keyframes slide-top {
    from { transform: translateY(-100%);}
    to   { transform: translateY(0%);}
}
@keyframes slide-bottom {
    from { transform: translateY(100%);}
    to   { transform: translateY(0%);}
}
@keyframes slide-left {
    from { transform: translatex(-100%);opacity: 0;}
    to   { transform: translatex(0%);opacity: 1;}
}
@keyframes slide-left-2 {
    from { transform: translatex(-100%);opacity: 0;}
    to   { transform: translate(8px,-8px);opacity: .5;}
}
@keyframes slide-right {
    from { transform: translatex(100%);opacity: 0;}
    to   { transform: translatex(0%);opacity: 1;}
}
@keyframes bigban {
    from { transform: scale(1.1); opacity: 0;}
    to   { transform: scale(1); opacity: 1;}
}

@keyframes opacity_in {
    from { opacity: 0;}
    to   { opacity: 1;}
}

